{% extends 'all-gallery/base.html' %}

{% block content %}
{{block.super}}

<div class="container">

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{image.image_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           {% for image in images %}
           <img src="{{image.photo_image.url}}" alt="image of {image.image_name}"  class="img-fluid">
            <div class="details">
                Picture Details....
            </div>
            <div class="details">
            Category : <span style="color:gold;" >{{image.category_id}}</span>
            Location : <span style="color:gold;">{{image.location_id}}</span>
            <p class="imgdesc">{{image.image_description}}</p>
            Photo-Image Link.
            <input class="form-control input-lg" type="text"
                   value="/{{ MEDIA_URL }}{{image.photo_image.url}}" id="{{image.id}}" style="display: none">
            <button class="btn btn-success btn-sm copy-btn" data-hex="{{image.photo_image.url}}">Copy</button>

            </div> 
            {% endfor %} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
    <hr class="line">

    <div class="row">

        {% for location in locations  %}

        <a href="{% url 'location' 'location.id' %}" type="button"  class="btn btn-outline-success" id="location_btn">{{location.location}}</a>

        
        
        {% endfor %}

    </div>

    <hr class="line">

    <div class="row text-center">
        {% for image in images %}

        <div class="col-md-3">

            
                <img src="{{image.photo_image.url}}" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="image of {image.image_name}" class="img-fluid gallery">
            

                <p class="text_image">{{image.image_name}}</p>
                <div class="btns mt-2">
                    <a href="{% url 'image' image.id%}" class="btn btn-warning fw-bold"  data-bs-toggle="modal" data-bs-target="#image" id="view">  view details</a>
                </div>
                <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{image.image_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">

          <div class="row">
            <img src="{{image.photo_image.url}}"  class="img-fluid gallery" alt="">
          </div>
          
        </div>
        
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">{{image.image_name}}</h1>
          Category : <span class="sap">{{image.category_id}}</span> 
          Location : <span class="sap">{{image.location_id}}</span>
          <p class="imgdesc">{{image.image_description}}</p>
          <p>Posted {{image.date_posted|timesince}}</p>
          Photo-Image link;
          <input class="form-control input-lg" type="text"
                   value="/{{ MEDIA_URL }}{{image.photo_image.url}}" id="{{image.id}}" style="display: none">
            <button class="btn btn-success btn-sm copy-btn" data-hex="{{image.photo_image.url}}">Copy</button>
        </div>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



        </div>

        {% endfor %}


    </div>
</div>


{% endblock %}